extends layout

block content
  h1= Login
  h2= msg
  p Welcome to #{title}
  form(method="POST" action="/login" )
    div.input
      span.label Username:
      input(type="text", name="uName")
    div.input
      span.label Password:
      input(type="Password", name="pWord")
    div.actions
      input(type="submit", value="Enter")